@page
@model TeamProject.Pages.Admin.Landlords.EditModel
@{
}

<form method="post">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary pl-3">Edit Landlords Details</h2>
        </div>

        <div class="mb-3">
            <label asp-for="@Model.Landlord.User.FirstName"></label>
            <input asp-for="@Model.Landlord.User.FirstName" class="form-control"/>
            <span asp-validation-for="@Model.Landlord.User.FirstName" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="@Model.Landlord.User.LastName"></label>
            <input asp-for="@Model.Landlord.User.LastName" class="form-control"/>
            <span asp-validation-for="@Model.Landlord.User.LastName" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="@Model.Landlord.User.Email"></label>
            <input asp-for="@Model.Landlord.User.Email" class="form-control"/>
            <span asp-validation-for="@Model.Landlord.User.Email" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="@Model.Landlord.User.PhoneNumber"></label>
            <input asp-for="@Model.Landlord.User.PhoneNumber" class="form-control"/>
            <span asp-validation-for="@Model.Landlord.User.PhoneNumber" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="@Model.Landlord.LandlordShare"></label>
            <input asp-for="@Model.Landlord.LandlordShare" class="form-control"/>
            <span asp-validation-for="@Model.Landlord.LandlordShare" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="@Model.Landlord.Income"></label>
            <input asp-for="@Model.Landlord.Income" class="form-control"/>
            <span asp-validation-for="@Model.Landlord.Income" class="text-danger"></span>
        </div>

        <input type="hidden" asp-for="Landlord.UserId"/>

        <button type="submit" class="btn btn-primary">Confirm</button>
    </div>
</form>

@section Scripts {
    @{
        <partial name="_validationScriptsPartial"/>
    }
}