@page
@model TeamProject.Pages.Admin.Landlords.IndexModel
@{
}
<style>
    .table-btn {
        display: inline-block;
        min-width: 70px;
        padding: 4px 8px;
        font-size: 0.85rem;
        text-align: center;
        text-decoration: none;
        color: #ffffff;
    }
</style>

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h3 class="text-primary">Landlords</h3>
        </div>
        <div class="col-6 text-end">
            <a asp-page="Create" class="btn btn-primary">
                Create Landlords
            </a>
        </div>
    </div>


    <br/>
    <br/>
    <br/>

    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email Address</th>
            <th>Phone Number</th>
            <th>Landlord Share (%)</th>
            <th>Income (€)</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var obj in Model.Landlords)
        {
            <tr>
                <td>@obj.User.FirstName</td>
                <td>@obj.User.LastName</td>
                <td>@obj.User.Email</td>
                <td>@obj.User.PhoneNumber</td>
                <td>@(obj.LandlordShare > 1 ? $"{obj.LandlordShare:0.##}%" : obj.LandlordShare.ToString("P0"))</td>
                <td>€@obj.Income</td>

                <td>
                    <a asp-page="Edit" asp-route-id="@obj.UserId" class="btn btn-success btn-sm mx-1">Edit</a>
                    <a asp-page="Delete" asp-route-id="@obj.UserId" class="btn btn-danger btn-sm mx-1">Delete</a>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>

