@page
@model CreateModel
@{
}

<form method="post">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary pl-3">Enter Customer Details</h2>
        </div>

        <div class="mb-3">
            <label asp-for="@Model.Customer.User.FirstName"></label>
            <input asp-for="@Model.Customer.User.FirstName" class="form-control"/>
            <span asp-validation-for="@Model.Customer.User.FirstName" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="@Model.Customer.User.LastName"></label>
            <input asp-for="@Model.Customer.User.LastName" class="form-control"/>
            <span asp-validation-for="@Model.Customer.User.LastName" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="@Model.Customer.User.Email"></label>
            <input asp-for="@Model.Customer.User.Email" class="form-control"/>
            <span asp-validation-for="@Model.Customer.User.Email" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="@Model.Customer.User.PhoneNumber"></label>
            <input asp-for="@Model.Customer.User.PhoneNumber" class="form-control"/>
            <span asp-validation-for="@Model.Customer.User.PhoneNumber" class="text-danger"></span>
        </div>

        @* <div class="mb-3">
            <label asp-for="@Model.Customer.CreditCardNo"></label>
            <input asp-for="@Model.Customer.CreditCardNo" class="form-control" />
            <span asp-validation-for="@Model.Customer.CreditCardNo" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="@Model.Customer.CVC"></label>
            <input asp-for="@Model.Customer.CVC" class="form-control" />
            <span asp-validation-for="@Model.Customer.CVC" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="@Model.Customer.ExpiryDate"></label>
            <input asp-for="@Model.Customer.ExpiryDate" class="form-control" />
            <span asp-validation-for="@Model.Customer.ExpiryDate" class="text-danger"></span>
        </div> *@

        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>

@section Scripts {
    @{
        <partial name="_validationScriptsPartial"/>
    }
}