@page
@model TeamProject.Pages.Admin.Landlords.DeleteModel
@{
}


<form method="post">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary pl-3">LandLords Details</h2>
        </div>

      
        <input type="hidden" asp-for="LandLords.LandLordId" />

        <div class="mb-3">
            <label asp-for="@Model.LandLords.Name"></label>
            <input asp-for="@Model.LandLords.Name" class="form-control"  />
            <span asp-validation-for="@Model.LandLords.Name" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="@Model.LandLords.Email"></label>
            <input asp-for="@Model.LandLords.Email" class="form-control"  />
            <span asp-validation-for="@Model.LandLords.Email" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="@Model.LandLords.PhoneNo"></label>
            <input asp-for="@Model.LandLords.PhoneNo" class="form-control" />
            <span asp-validation-for="@Model.LandLords.PhoneNo" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="@Model.LandLords.LandLordShare"></label>
            <input asp-for="@Model.LandLords.LandLordShare" class="form-control" />
            <span asp-validation-for="@Model.LandLords.LandLordShare" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="@Model.LandLords.Income"></label>
            <input asp-for="@Model.LandLords.Income" class="form-control" />
            <span asp-validation-for="@Model.LandLords.Income" class="text-danger"></span>
        </div>


        <button type="submit" class="btn btn-primary">Delete</button>
    </div>
</form>
@section Scripts {
    @{
        <partial name="_validationScriptsPartial" />
    }
}